html,


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
p{
  font-size: 20pt;
  text-align: left;
}
li{
  font-size: 20pt;
  text-align: left;
}
h6{
  font-size: 25pt;
  text-align: left;
}
h4{
  font-size: 30pt;
  text-align: left;
}
h2{
  font-size: 40pt;
  text-align: left;
}
h3{
  text-align: center;
}